.padel-navbar {
  background-color: #0d47a1; 
 

  .navbar-brand,
  .nav-link,
  .navbar-toggler-icon {
    color: white !important;
  }

  .navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
  }
.navbar-brand img {
  max-width: 100%;
  height: auto;
}
  .nav-link:hover,
  .nav-link.active {
    color: #bbdefb !important; // Un azul claro para hover/activo
  }

  // Asegurar que el menú colapsado en móvil también tenga buen contraste
  .dropdown-menu {
    background-color: #0d47a1;
    border: none;

    .dropdown-item {
      color: white;

      &:hover {
        background-color: #1565c0;
      }
    }

    .dropdown-divider {
      border-color: #90caf9;
    }
  }
}