<nav class="navbar navbar-expand-lg padel-navbar">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <!-- LOGO + TEXTO  -->
    <a class="navbar-brand d-flex align-items-center" routerLink="/home">
      <img src="assets/images/logo.png" alt="Logo Pádel Pantano" class="rounded-2 me-2"
        style="height: 28px; width: auto; object-fit: contain;">
      Pádel Pantano
    </a>

    <!-- Resto del navbar SIN CAMBIOS -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home">Club</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/pistas">Pistas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tienda">Tienda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Carrito</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Perfil
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" routerLink="/perfil">Tu perfil</a></li>
            <li><a class="dropdown-item" routerLink="/login">Iniciar Sesión</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>